{% extends 'base.html' %}

{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'parts/css/base.css' %}">
{% endblock %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <a href="{% url 'parts:index' %}" class="navbar-brand">PartsWare</a>

    <button class="navbar-toggler btn-primary" type="button" data-toggle="collapse"
        data-target=".navbar-collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'parts:all_parts' %}">
                    <i class="fa fa-cog"></i> Parts
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url 'parts:list_containers' %}">
                    <i class="fa fa-inbox"></i> Containers
                </a>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-plus"></i> Add item
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'parts:add_part' %}">
                        <i class="fa fa-cog"></i> Part
                    </a>

                    <a class="dropdown-item" href="{% url 'parts:add_container' %}">
                        <i class="fa fa-inbox"></i> Container
                    </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-user-circle-o"></i> Account
                </a>

                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        <i class="fa fa-sign-out"></i> Logout
                    </a>
                </div>
            </li>
        </ul>

        {% if not no_nav_search %}
        <form class="form-inline" method="post" action="{% url 'parts:search' %}">
            {% csrf_token %}

            <div class="input-group">
                <input name="search" class="form-control" type="search" placeholder="Search">

                <div class="input-group-append">
                    <button class="btn btn-secondary" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</nav>

<div class="container">
    {% block parts_content %}{% endblock %}
</div>

{% endblock %}
