{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "parts/css/base.css" %}">
{% endblock %}

{% block content %}

<header class="bg-dark text-light navbar">
    <h1 class="navbar-brand" >PartsWare</h1>

    <ol class="nav">
        <li class="nav-item">
            <a class="nav-link text-light" href="{% url 'parts:index' %}">Index</a>
        </li>
    </ol>
</header>

<div class="container">
    {% block parts_content %}{% endblock %}
</div>

{% endblock %}
