{% extends 'parts/base.html' %}
{% load parts_extras %}

{% block title %}
{% if new_container %}
Add new container
{% else %}
Edit container
{% endif %}
{% endblock %}

{% block parts_content %}

<div class="container p-3">
    <div class="row p-3">
        <div class="col-md-8">
            {% if new_container %}
            <h3>Add new container</h3>
            {% else %}
            <h3>Edit container</h3>
            {% endif %}
        </div>

        {% if not new_container %}
        <div class="col-md-4">
            <div class="text-right">
                {% if has_parts %}
                <div class="alert alert-secondary">
                    Cannot delete while container has parts
                </div>
                {% else %}
                <a href="{% url 'parts:delete_container' container_id %}" class="btn btn-danger">
                    <i class="fa fa-trash"></i> Delete
                </a>
                {% endif %}
            </div>
        </div>
        {% endif %}
    </div>

    {% if success %}
    <div class="alert alert-success">
        {% if new_container %}
        New container successfully added
        {% else %}
        Container successfully updated
        {% endif %}
    </div>
    {% endif %}

    <form method="post" action="{{ post_url }}">
        {% csrf_token %}

        <div class="form-row">
            <div class="col">
                {% form_input form.name %}
                {% form_input form.naming_scheme %}

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        {% if new_container %}
                        Create new container
                        {% else %}
                        Update container
                        {% endif %}
                    </button>
                </div>
            </div>

            <div class="col">
                {% form_input form.description %}
            </div>
        </div>
    </form>
</div>

{% endblock %}
