{% extends 'parts/base.html' %}

{% block title %}Index{% endblock %}

{% block parts_content %}

<div class="p-5 row">
    <form action="{% url 'parts:search' %}" method="post" class="form-inline w-100">
        {% csrf_token %}

        <div class="input-group input-group-lg w-100">
            <input type="search" class="form-control" placeholder="Search for parts" name="search" autofocus />

            <div class="input-group-append">
                <button type="submit" class="btn btn-info">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>

<div class="pt-5 row">
    <div class="col-md-4">
        <h1 class="jumbotron bg-white text-center">
            Welcome to your parts warehouse
        </h1>
    </div>

    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                Statistics
            </div>

            <div class="row">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Total parts: {{ parts.count }}</li>
                        <li class="list-group-item">Total containers: {{ containers.count }}</li>
                        <li class="list-group-item">Total tags: {{ tags.count }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
