{% extends 'parts/base.html' %}
{% load parts_extras %}

{% block title %}
{% if new_part %}
Add new part
{% else %}
Edit part
{% endif %}
{% endblock %}

{% block parts_content %}

<div class="container p-3">
    <div class="row p-3">
        <div class="col">
            {% if new_part %}
            <h3>Add new part</h3>
            {% else %}
            <h3>Edit part</h3>
            {% endif %}
        </div>

        {% if not new_part %}
        <div class="col">
            <div class="text-right">
                <a href="{% url 'parts:delete_part' part.pk %}" class="btn btn-danger">
                    <i class="fa fa-trash"></i> Delete
                </a>
            </div>
        </div>
        {% endif %}
    </div>

    {% if success %}
    <div class="alert alert-success">
        {% if new_part %}
        New part successfully added
        {% else %}
        Part successfully updated
        {% endif %}
    </div>
    {% endif %}

    <form method="post" action="{{ post_url }}" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-row">
            <div class="col-md">
                {% form_input form.name %}
                {% form_input form.image %}
                {% form_input form.datasheet %}
                {% form_input form.pinout %}
            </div>

            <div class="col-md">
                {% form_input form.tags %}
                {% form_input form.description %}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md">
                {% form_input form.quantity %}
            </div>

            <div class="col-md">
                {% form_input form.price %}
            </div>
        </div>

        <div class="form-row">
            <div class="col-md">
                {% form_input form.container %}
            </div>

            <div class="col-md">
                {% form_input form.location %}
            </div>
        </div>

        <div class="form-row">
            <div class="text-center">
                <button class="btn btn-primary" type="submit">
                    {% if new_part %}
                    Create new part
                    {% else %}
                    Update part
                    {% endif %}
                </button>
            </div>
        </div>

    </form>
</div>

{% endblock %}
