{% extends 'parts/base.html' %}

{% block parts_content %}

<div class="p-3">
    <h3>Search results</h3>
</div>

{% if not parts %}
No parts found
{% else %}

<div class="row">
    {% for part in parts %}

    <div class="col-sm-3">
        <div class="card mb-4">
            <div class="card-header">
                <a href="{% url 'parts:view_part' part.pk %}" class="text-body">
                    <strong>{{ part.name }}</strong>
                </a>
                <div class="float-right">
                    <a href="{% url 'parts:edit_part' part.pk %}" title="Edit">
                        <i class="fa fa-edit"></i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <h6 class="card-subtitle text-muted mb-2">
                    {{ part.container }}: {{ part.location }}
                </h6>

                <p class="card-text">
                {{ part.description | truncatechars:150 }}
                </p>

                {% if part.datasheet %}
                <a class="btn btn-primary" href="{% url 'parts:download_datasheet' part.pk %}">Datasheet</a>
                {% endif %}

                {% if part.pinout %}
                <a class="btn btn-primary" href="{% url 'parts:pinout' part.pk %}">Pinout</a>
                {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endif %}

{% endblock %}
