{% extends 'parts/base.html' %}

{% block title %}Search results{% endblock %}

{% block parts_content %}

<div class="row p-3">
    <div class="col-md-8">
        <h3>Search results</h3>
    </div>

    <div class="col-md-4">
        <form class="form" method="post" action="{% url 'parts:search' %}">
            {% csrf_token %}

            <input name="search" type="hidden" value="{{ query }}">

            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <span class="mr-2">
                            <i class="fa fa-sort-amount-desc"></i>
                        </span>
                        Order by
                    </div>
                </div>

                <select name="sort-by" onchange="this.form.submit()" id="order-by-select" class="form-control">
                    <option selected disabled hidden>Choose option</option>
                    <option value="name">Name</option>
                    <option value="container">Container</option>
                    <option value="quantity">Quantity</option>
                    <option value="price">Price</option>
                </select>
            </div>
        </form>
    </div>
</div>

{% if not parts %}
No parts found
{% else %}

<div class="row">
    {% for part in parts %}

    <div class="col-6 col-md-4 col-lg-3 mb-3">
        <div class="card">
            <div class="card-header">
                <a href="{% url 'parts:view_part' part.pk %}" class="text-body">
                    <strong>{{ part.name }}</strong>
                </a>
                <div class="float-right">
                    <a href="{% url 'parts:edit_part' part.pk %}" title="Edit">
                        <i class="fa fa-edit"></i>
                    </a>
                </div>
            </div>

            {% if part.image %}
            <img src="{% url 'parts:media' 'image' part.pk %}" class="card-img-top" />
            {% endif %}

            <div class="card-body">
                <h6 class="clearfix card-subtitle text-muted text-sm mb-2">
                    <small>
                        <div class="float-left text-left">
                            {{ part.container }}: {{ part.location }}
                        </div>

                        {% if part.quantity %}
                        <div class="float-right text-right">
                            <i class="fa fa-inbox"></i> {{ part.quantity }}
                        </div>
                        {% endif %}
                    </small>
                </h6>

                <div class="row">
                    {% if part.datasheet %}
                    <div class="col-xl p-1">
                        <a class="btn btn-primary btn-sm btn-block" href="{% url 'parts:media' 'datasheet' part.pk %}">
                            <i class="fa fa-file-text-o"></i> Datasheet
                        </a>
                    </div>
                    {% endif %}

                    {% if part.pinout %}
                    <div class="col-xl p-1">
                        <a class="btn btn-primary btn-sm btn-block" href="{% url 'parts:media' 'pinout' part.pk %}">
                            <i class="fa fa-plug"></i> Pinout
                        </a>
                    </div>
                    {% endif %}
                </div>

                {% if part.description %}
                <p class="mt-2 card-text">
                {{ part.description | truncatechars:50 }}
                </p>
                {% endif %}
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endif %}

{% endblock %}
